.built_tools{
  display:inline-block;
  vertical-align: top;
  width:500px;
}
.language{
  width:300px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Libre Franklin', sans-serif;
}
.language .skills_item{
  display: inline-block;
  width:50px;
  height: 50px;
}
.skills_item i{
  display:block;
  font-size: 50px;
}
.tools{

}
.footer-container{
  font-family: 'Libre Franklin', sans-serif;
}
.footer{
  margin:0;
  padding-top:25px;/* this solves a layout issue (gap) with mainfooter container don't understand why yet!!*/
  background: rgb(51, 51, 51);
  color:rgb(204,204,204);
  text-align: center;
}
.style-line{
    padding: 0;
    border: none;
    max-width: 65%;
    border-top: 5px double rgb(204,204,204);
    text-align: center;
}

#links{
  font-size:56px;
  text-align: center;
}
#links i{
  margin:0 5px;
}
.mainfooter{
  margin:0;
  padding:50px 0 ;
  color:rgb(255,255,255);
  background:rgb(217, 83, 79);
  font-family: 'Libre Franklin', sans-serif;
}

/*.mainfooter .name{
  font-size: 16px;
  margin-bottom: 15px;
  background: inherit;
}*/
.contactsLinks{
  display:inline-block;
  vertical-align: top;
  width:40%;
}
.contactsLinks .brand-name{
  margin:0 auto;
}

.recetteNameList{
  display:inline-block;
  vertical-align: top;
  width:60%;
}
.recetteNameList h2{
  margin:0 30px;
}
.recetteNameList ul{
  font-size:20px;
  font-weight: normal;
  list-style-type:none;
}
